body {
  background: #329DC0;
  text-align: center;
  font-size: 13px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.nodisplay{ display: none; }
.wrapper {
  background: #fff;
  margin: 0 auto;
  padding: 1px;
  width: 972px;
  box-shadow: 2px 2px 5px #555;
}
.notice-bar{
  margin: 10px 40px 0 40px; padding: 10px;
  &.success{ background: #B4D28F; color: #556F10; }
}

.toggle-target { display: none; }

.text-center { text-align: center; > * { margin: 0 auto; } }

.text-right { text-align: right; }

.margin-tb { margin: 10px 0; }
.margin-rl { margin: 0 10px; }

.alert { color: #f00; }
.success{ color: #4cae4c; }

.ajax-loader{
  position: absolute; background: rgba(255,255,255,.5);
  min-height: 80px;width: 960px;
}

.header {
  width: 972px;
  height: 88px;
  background: url(../img/001.gif) no-repeat;
}

.bread-nav{
  text-align: left; margin: 10px 20px;
  border-left: 5px solid #ccc; border-bottom: 2px solid #ccc; 
  padding: 0 0 5px 15px;
  a{ 
    display: inline-block; padding: 3px 8px; 
    background: #eee; border-right: 3px solid #ccc;
    &:last-child{ border-right: none; }
    &:link, &:visited{ text-decoration: none; color: #555; }
    &:hover{ color: #fff; background:#666; }
    &.active{ color: #fff; background:#666;  }
  }
}

p.intro-txt {
  display: inline-block;
  width: 98%;
  line-height: 30px;
  text-align: left;
}

span.udl {
  text-decoration: underline;
  margin-right: 80px;
}

.right {
  float: right;
}

.project {
  width: 960px;
  margin: 0 auto;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  margin-bottom: 15px;
  p {
    font-size: 16px; font-weight: bold;
    margin: 0px auto; padding: 0px auto;
    line-height: 30px; display: block;
  }
}

.project-title {
  line-height: 30px;
  background: #000; color: #fff;
}

button {
  cursor: pointer; margin: 0 2px; border: 1px solid #555;
  i {margin-right: 5px; }
}

input[type=text] {
  width: 80px; padding: 2px; border: 1px solid #ccc;
  &.xs {width: 30px; }
  &.sm {width: 60px; }
  &.md {width: 120px; }
  &.lg {width: 200px; }
}

.pj-type {
  line-height: 25px; background: #D95201; color: #fff;
  button {float: right; }
}

table {
  width: 960px;
  border-bottom: 2px solid #555; border-top: 1px solid #000;
  border-right: none; border-left: none;
  td {
    border: 1px solid #000; padding: 5px 8px;
    &:first-child {border-left: none; }
    &:last-child {border-right: none; }
  }
  th {font-weight: bold; font-size: 16px; }
  tr{
    &.pj-dt-hd td {
      background: #FBAF22; padding: 5px 0;
      word-wrap: break-word; word-break: break-all;
    }
    &.pj-dt-ct{
      &:hover .manageTask {
        display: inline-block; cursor: pointer; color: #f00;
      }
    }
  }
  span.manageTask { display: none;  margin: 0 0 0 2px;}
}

.report-list {
  width: 900px; text-align: left; margin: 10px 0;
  li {
    display: inline-block; width: 290px;  line-height: 40px;
    text-align: center; background: #2271BA; color: #fff;
    margin: 5px 2px; font-size: 15px;
    &.hidden{ background: #878787; }
    a {
      width: 100%; display: inline-block;
      &:visited, &:link {color: #eee; text-decoration: none; }
    }
  }
}
.project-list{
  li{ 
    width: 443px; 
    i.controlDisplay{ 
      float: left; position: relative; top: 10px; left: 8px; 
      font-size: 22px; cursor: pointer;
      &:hover{ color: #eee; }
    }
    .panel{ 
      float: right; line-height: 20px; margin: 0px;
      margin: 10px 10px 0 0; cursor: pointer;

    }
  }
}

.edit-area{
  margin: 0 0 0 5px; color: #000; display: none;

  i.fa{ 
    background: #eee; padding: 3px 0; width: 20px; 
    color: #555;
    &:hover{ 
      background: #fff;
      &.submit{ color: #059505; }
      &.cancel{ color: #f00; }
    }
  }
}

.btn {
  display: inline-block;
  &.primary {
    background: #008CBA; color: #fff; border: 1px solid #007295;
    &:visited, &:link {color: #fff; text-decoration: none; }
    &:hover { color: #fff; background: #007295; } 
  }
  &.danger{
    background: #d9534f; border-color: #d43f3a; color: #fff;
    &:hover{ background: #d43f3a;  }
  }
  &.info { background: #eee; color: 000; }
  &.xs{ padding: 2px 3px; }
  &.sm {padding: 5px 10px; }
  &.md {padding: 8px 15px; }
  &.lg {padding: 8px 30px; }
}

.data-box {
  display: none;background: #eee;
  margin: 10px 40px; padding: 20px;
  input[type=text] {padding: 5px 8px; }
}

.input-box {
  text-align: left; line-height: 35px; width: 920px;
  margin: 0 auto; margin-bottom: 10px;
  span {
    display: inline-block; 
    &.option { width: 80px; }
  }
  > span {
    width: 300px;
    a {
      &:link, &:visited {margin: 0 0 0 10px; color: #008CBA; text-decoration: none; }
      &:hover {color: #007295; }
    }
  }
  .btn {
    margin: 10px 0 0 0; line-height: 28px;
    width: 200px; text-align: center; padding: 0 0px;
  }
}

select.md {padding: 2px 3px; }

.name-box{
  display: none;
  background: #eee; border: 2px solid #555; width: 400px;
  position: absolute; line-height: 20px;
  ul{
    padding: 0px; margin: 0px;
    li{ 
      display: inline-block; width: 50px; text-align: center; 
      line-height: 23px; cursor: pointer;
      &:hover{ background: #555; color: #fff; }
    }
  }
}